body {
    padding: 1.5rem;
  }
  
  output {
    display: block;
    min-height: 1.5rem;
    padding: 0.5rem;
    border: 1.5px solid black;
    border-radius: 4px;
  }
  
  ul {
    list-style-type: none;}
    
  